services:
  mongo:
    image: mongo:7
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: secret
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    container_name: api
    env_file:
      - ./apps/api/.env
    ports:
      - "4000:4000"
    depends_on:
      - mongo

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    container_name: web
    env_file:
      - ./apps/web/.env
    ports:
      - "3000:3000"
    depends_on:
      - api

volumes:
  mongo_data:
